.birthday-calendar {
  .e-vertical-view .e-header-cells.e-current-day .e-header-date {
    background-color: #e3165b;
    border-radius: 50%;
    color: white;
    width: 22px;
    height: 22px;
    text-align: center;
  }
}
