@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import '../mixins/mq';

.upcoming-section {
  display: block;

  @include mq('tablet') {
    display: none;
  }
}

.header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
  padding-bottom: 13px;
}
