// Colors
$red: #EE0B0B;

$purple0: #374CC1;
$purple1: #4D62D9;
$purple2: #6F7DF8;
$purple3: #9099FF;
$purple4: #B0B5FF;
$purple5: #D0D3FF;
$purple6: #EFF0FF;

$black: #282828;
$gray: #D9D9D9;
$lightgray: #F7F7F7;

// Sizes
$sidebarWidth: 55px;