// Colors
$red: #ee0b0b;

$purple0: #374cc1;
$purple1: #4d62d9;
$purple2: #6f7df8;
$purple3: #9099ff;
$purple4: #b0b5ff;
$purple5: #d0d3ff;
$purple6: #eff0ff;

$lightblue: #2596be;

$black: #282828;
$gray: #d9d9d9;
$lightgray: #f7f7f7;

// Sizes
$sidebarWidth: 55px;
