@import '../core/_variables.scss';
@import '../mixins/_mq';

.calendar-page-container {
  @include mq('tablet', 'min-width') {
    display: grid;
    grid-template-columns: 3fr 11fr;
    grid-column-gap: 24px;
  }
}
